html, body {
  height: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: #e6eff6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 700;
  color: #2bb3b1;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

button {
  background-color: #C0DF34;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px 0 #44535f;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  white-space: nowrap; /* text wraps without this, even tho there's space. weird. */
  text-decoration: none; /* isn't this default? it should be default */
  padding: 0.75rem 5.75rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .join {
    grid-row-start: 1;
  }
  .subscription {
    grid-row-start: 2;
    border-radius: 0 0 0 0;
  }
  .why-us {
    grid-row-start: 3;
    border-radius: 0 0 10px 10px;
  }
}

.container {
  display: grid;
  grid-template:  ". top top ." auto
                  ". sub why ." auto
                  / 1fr 320px 320px 1fr;
}

.join {
  grid-area: top;
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 35px;
}

.subscription {
  background-color: #2bb3b1;
  grid-area: sub;
  border-radius: 0 0 0 10px;
  padding: 35px;
}

.why-us {
  background-color: #4abebd;
  grid-area: why;
  border-radius: 0 0 10px 0;
  padding: 35px;
}

.amount {
  font-size: 2rem;
  margin: 16px 0;
  display: flex;
}

.per-month {
  opacity: 0.5;
  font-size: 16px;
  align-self: center;
  margin-left: 1em;
}

.top-h3 {
  color: #C0DF34;
  margin-bottom: 1em;
}

.top-par {
  color: #98A6BD;
  line-height: 1.5;
}

.par-div {
  margin-top: 30px;
}

.why-us-par {
  opacity: 0.6;
  line-height: .5;
  font-size: .85rem;
 }

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
}
